<div class="alert alert-success mt-4">
<p>💎 Cast an eye upon <a class="font-weight-black link-dark" href="https://nakigoe.org/_PDF/CV-en.pdf" target="_blank">my skill list</a></p>

@* <p>👍 <strong>Endorse</strong> my skills on LinkedIn (you might have to use VPN in some countries): <a class="font-weight-black link-dark" href="https://www.linkedin.com/in/nakigoe" target="_blank">linkedin.com/in/nakigoe</a></p>

<p>You can find the best free VPN service without email registration at the University of Tsukuba website, the logs are kept for two weeks only (you might need another temporary VPN service to access the website): <a class="font-weight-black link-dark" href="https://www.vpngate.net/" target="_blank">VPN Gate</a></p> *@

<p>⭐ See my other repositories on GitHub and add stars ⭐: <a class="font-weight-black link-dark" href="https://github.com/nakigoe" target="_blank">github.com/nakigoe</a></p>

<p>💲💲 <strong>Donate</strong> to the student <a class="font-weight-black link-dark" href="https://nakigoe.org" target="_blank">nakigoe.org/en/donate</a></p>
</div>