<div class="alert alert-secondary mt-4">
    <p>
        <span class="oi oi-pencil me-2" aria-hidden="true"></span>
        <strong>@Title</strong>
    </p>
    <p>
        <span>
            🔥 The website and GitHub Actions source code:
            <a target="_blank" class="font-weight-bold link-dark text-nowrap" href="https://nakigoe.org">github.com/nakigoe/blazorwasm</a>
        </span>
    </p>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
