@page "/"
@page "/_framework"

<PageTitle>NAKIGOE.ORG Proudly Presents</PageTitle>

<h1>Blazor WebAssembly Production-Ready Template</h1>

<p>Welcome to your new app! It utilizes:</p>
<ul>
    <li>Bootstrap 5.3</li>
    <li>Open Iconic font</li>
    <li>BlazorWasmPreRendering.Build</li>
</ul>

<CodeLocation Title="How is Blazor WebAssembly working for you?" />

<About />