@page "/"

<PageTitle>NAKIGOE.ORG Proudly Presents</PageTitle>

<h1>Blazor WebAssembly Production-Ready Template</h1>

<p>Welcome to NAKIGOE.ORG starting template project!</p>
<ul>
    <li>.NET 8 Blazor WebAssembly improved, production-ready template</li>
    <li>Bootstrap 5.3</li>
    <li>Open Iconic font</li>
    <li>BlazorWasmPreRendering.Build</li>
</ul>

<CodeLocation Title="How is Blazor WebAssembly working for you?" />

<About />