@page "/"

<PageTitle>NAKIGOE.ORG Proudly Presents</PageTitle>

<h1>Blazor WebAssembly Production-Ready Template</h1>

<p>Welcome to your new app!</p>

<SurveyPrompt Title="How is Blazor WebAssembly working for you?" />
