@page "/"

<PageTitle>NAKIGOE.ORG Proudly Presents</PageTitle>

<h1>NAKIGOE.ORG Presents Blazor WebAssembly Production-Ready Template</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor WebAssembly working for you?" />
